version: '2.0'
services:
  ui:
    build: ./
    #image: idobry/chartmuseumui:latest
    environment:
      CHART_MUSESUM_URL: http://chartmuseum:8080
    ports:
      - 3000:8080
  chartmuseum:
    image: chartmuseum/chartmuseum:v0.7.1
    ports:
    - 8080:8080
    volumes:
    - ./charts:/charts
    environment:
      PORT: 8080
      DEBUG: 1
      STORAGE: local
      STORAGE_LOCAL_ROOTDIR: /charts
